<script type="text/javascript" src="../js/pathTo.js">
</script>
<script language="javascript">
function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
	<table >
		<tbody >
			<tr >
				<td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">
Schemas > 				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="c7a6540d-5033-4b98-a7a0-76cbc0d89bfa">
					<div onclick="pathTo('c7a6540d-5033-4b98-a7a0-76cbc0d89bfa',1)">
HR > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="15c76e12-7db5-4b1c-9c58-ae39bc636e3d">
					<div onclick="pathTo('15c76e12-7db5-4b1c-9c58-ae39bc636e3d',1)">
Tables > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="964ed46f-c8f2-462b-be63-d3529476981a">
					<div onclick="pathTo('964ed46f-c8f2-462b-be63-d3529476981a',1)">
MY_LOGS > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="3e16b97c-d2cc-4044-a117-4edc5b91e7d6">
					<div onclick="pathTo('3e16b97c-d2cc-4044-a117-4edc5b91e7d6',1)">
Triggers > 					</div>
				</td>
				<td style="FONT-WEIGHT: bold; COLOR: blue" id="22adde12-e4ca-40e3-b84d-f977e26cde55">
AFTER_INS_LOG				</td>
				<table style="WIDTH: 380px; TABLE-LAYOUT: fixed">
				</table>
			</tr>
		</tbody>
