<script type="text/javascript" src="../js/pathTo.js">
</script>
<script language="javascript">
function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
	<table >
		<tbody >
			<tr >
				<td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">
Schemas > 				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="45fe2579-2386-4586-9ec6-9e5ae9a3e260">
					<div onclick="pathTo('45fe2579-2386-4586-9ec6-9e5ae9a3e260',1)">
HR > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="e9a7befd-96f6-4441-b89c-c439cedfb844">
					<div onclick="pathTo('e9a7befd-96f6-4441-b89c-c439cedfb844',1)">
Tables > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="28218dd3-74f3-45f0-a54c-d1a3b0fb81f2">
					<div onclick="pathTo('28218dd3-74f3-45f0-a54c-d1a3b0fb81f2',1)">
MY_LOGS > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="1673472c-b274-42f6-9701-6d5267652126">
					<div onclick="pathTo('1673472c-b274-42f6-9701-6d5267652126',1)">
Triggers > 					</div>
				</td>
				<td style="FONT-WEIGHT: bold; COLOR: blue" id="1597b534-dd32-4765-937b-5f0f6945f852">
AFTER_INS_LOG				</td>
				<table style="WIDTH: 380px; TABLE-LAYOUT: fixed">
				</table>
			</tr>
		</tbody>
