<script type="text/javascript" src="../js/pathTo.js">
</script>
<script language="javascript">
function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
	<table >
		<tbody >
			<tr >
				<td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">
Schemas > 				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="a2b56715-2552-4cd3-8cef-6bf0e2715407">
					<div onclick="pathTo('a2b56715-2552-4cd3-8cef-6bf0e2715407',1)">
HR > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="56ccf836-4f48-4233-a054-dcae778cc3f2">
					<div onclick="pathTo('56ccf836-4f48-4233-a054-dcae778cc3f2',1)">
Tables > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="d3af6e2e-eaa6-4f34-bd7f-5f707e0f444f">
					<div onclick="pathTo('d3af6e2e-eaa6-4f34-bd7f-5f707e0f444f',1)">
MEN > 					</div>
				</td>
				<td style="FONT-WEIGHT: bold; COLOR: blue" id="c1c374ee-4346-4f9a-a884-15f466e7da08">
Triggers				</td>
				<table style="WIDTH: 380px; TABLE-LAYOUT: fixed">
				</table>
			</tr>
		</tbody>
