<script type="text/javascript" src="../js/pathTo.js">
</script>
<script language="javascript">
function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
	<table >
		<tbody >
			<tr >
				<td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">
Schemas > 				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="c7a6540d-5033-4b98-a7a0-76cbc0d89bfa">
					<div onclick="pathTo('c7a6540d-5033-4b98-a7a0-76cbc0d89bfa',1)">
HR > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="15c76e12-7db5-4b1c-9c58-ae39bc636e3d">
					<div onclick="pathTo('15c76e12-7db5-4b1c-9c58-ae39bc636e3d',1)">
Tables > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="67d37b72-cae9-4521-ab24-c163a38600d1">
					<div onclick="pathTo('67d37b72-cae9-4521-ab24-c163a38600d1',1)">
LOCATIONS > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="e175623c-5580-4050-bd54-8c7ee9caf0bf">
					<div onclick="pathTo('e175623c-5580-4050-bd54-8c7ee9caf0bf',1)">
Indexes > 					</div>
				</td>
				<td style="FONT-WEIGHT: bold; COLOR: blue" id="54d453e7-5d4d-4f20-b1a1-f70ec61cfdc7">
LOC_CITY_IX				</td>
				<table style="WIDTH: 380px; TABLE-LAYOUT: fixed">
				</table>
			</tr>
		</tbody>
