<script type="text/javascript" src="../js/pathTo.js">
</script>
<script language="javascript">
function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
	<table >
		<tbody >
			<tr >
				<td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">
Schemas > 				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="45fe2579-2386-4586-9ec6-9e5ae9a3e260">
					<div onclick="pathTo('45fe2579-2386-4586-9ec6-9e5ae9a3e260',1)">
HR > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="e9a7befd-96f6-4441-b89c-c439cedfb844">
					<div onclick="pathTo('e9a7befd-96f6-4441-b89c-c439cedfb844',1)">
Tables > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="0e4ddee7-8a7f-4be5-8913-5d3715abd4ed">
					<div onclick="pathTo('0e4ddee7-8a7f-4be5-8913-5d3715abd4ed',1)">
JOB_HISTORY > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="906d4c11-f884-4eee-95cd-928e83ff396a">
					<div onclick="pathTo('906d4c11-f884-4eee-95cd-928e83ff396a',1)">
Indexes > 					</div>
				</td>
				<td style="FONT-WEIGHT: bold; COLOR: blue" id="d782f0e6-63f0-4463-8fff-a528f0edd91b">
JHIST_JOB_IX				</td>
				<table style="WIDTH: 380px; TABLE-LAYOUT: fixed">
				</table>
			</tr>
		</tbody>
