<script type="text/javascript" src="../js/pathTo.js">
</script>
<script language="javascript">
function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
	<table >
		<tbody >
			<tr >
				<td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">
Schemas > 				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="a2b56715-2552-4cd3-8cef-6bf0e2715407">
					<div onclick="pathTo('a2b56715-2552-4cd3-8cef-6bf0e2715407',1)">
HR > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="5ff5ab27-b2d7-410b-9b9a-08c1e5be50ef">
					<div onclick="pathTo('5ff5ab27-b2d7-410b-9b9a-08c1e5be50ef',1)">
Views > 					</div>
				</td>
				<td style="FONT-WEIGHT: bold; COLOR: blue" id="6d5e7c2b-fb09-4edb-afd1-8aca9a509582">
EMP_DETAILS_VIEW				</td>
				<table style="WIDTH: 380px; TABLE-LAYOUT: fixed">
				</table>
			</tr>
		</tbody>
