<script type="text/javascript" src="../js/pathTo.js">
</script>
<script language="javascript">
function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
	<table >
		<tbody >
			<tr >
				<td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">
Schemas > 				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="45fe2579-2386-4586-9ec6-9e5ae9a3e260">
					<div onclick="pathTo('45fe2579-2386-4586-9ec6-9e5ae9a3e260',1)">
HR > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="fffa0181-fac8-441f-bdbb-70a103c4fd21">
					<div onclick="pathTo('fffa0181-fac8-441f-bdbb-70a103c4fd21',1)">
Sequences > 					</div>
				</td>
				<td style="FONT-WEIGHT: bold; COLOR: blue" id="56da4859-5ebc-462b-a5eb-3664bd0ef2cc">
PRODUCTS_SEQUENCE				</td>
				<table style="WIDTH: 380px; TABLE-LAYOUT: fixed">
				</table>
			</tr>
		</tbody>
