<script type="text/javascript" src="../js/pathTo.js">
</script>
<script language="javascript">
function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
	<table >
		<tbody >
			<tr >
				<td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">
Schemas > 				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="04bce689-28fd-4bd0-9706-66806e17f58c">
					<div onclick="pathTo('04bce689-28fd-4bd0-9706-66806e17f58c',1)">
HR > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="a080fdca-fb20-485d-8746-ad0afa839f4a">
					<div onclick="pathTo('a080fdca-fb20-485d-8746-ad0afa839f4a',1)">
Tables > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="fce865c4-77f2-432c-9ff0-b076180bb8ad">
					<div onclick="pathTo('fce865c4-77f2-432c-9ff0-b076180bb8ad',1)">
DEPARTMENTS > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="adf4837f-268a-4b98-9afc-4d431b738779">
					<div onclick="pathTo('adf4837f-268a-4b98-9afc-4d431b738779',1)">
Indexes > 					</div>
				</td>
				<td style="FONT-WEIGHT: bold; COLOR: blue" id="14d02fb2-dab1-4bf0-87d3-c894107a7593">
DEPT_LOCATION_IX				</td>
				<table style="WIDTH: 380px; TABLE-LAYOUT: fixed">
				</table>
			</tr>
		</tbody>
