<script type="text/javascript" src="../js/pathTo.js">
</script>
<script language="javascript">
function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
	<table >
		<tbody >
			<tr >
				<td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">
Schemas > 				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="04bce689-28fd-4bd0-9706-66806e17f58c">
					<div onclick="pathTo('04bce689-28fd-4bd0-9706-66806e17f58c',1)">
HR > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="f4d5c90c-a5eb-462d-aa4a-5b2b2878aea4">
					<div onclick="pathTo('f4d5c90c-a5eb-462d-aa4a-5b2b2878aea4',1)">
Views > 					</div>
				</td>
				<td style="FONT-WEIGHT: bold; COLOR: blue" id="3246f699-751e-4072-ba8a-820f586090a1">
EMP_DETAILS_VIEW				</td>
				<table style="WIDTH: 380px; TABLE-LAYOUT: fixed">
				</table>
			</tr>
		</tbody>
