<script type="text/javascript" src="../js/pathTo.js">
</script>
<script language="javascript">
function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
	<table >
		<tbody >
			<tr >
				<td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">
Schemas > 				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="c7a6540d-5033-4b98-a7a0-76cbc0d89bfa">
					<div onclick="pathTo('c7a6540d-5033-4b98-a7a0-76cbc0d89bfa',1)">
HR > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="15c76e12-7db5-4b1c-9c58-ae39bc636e3d">
					<div onclick="pathTo('15c76e12-7db5-4b1c-9c58-ae39bc636e3d',1)">
Tables > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="a26ea90b-f750-4471-8f29-f30d58d835bb">
					<div onclick="pathTo('a26ea90b-f750-4471-8f29-f30d58d835bb',1)">
MY_EMPLOEES > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="4d8f6da9-5ab6-4fc9-9a46-5ba6cea00d1d">
					<div onclick="pathTo('4d8f6da9-5ab6-4fc9-9a46-5ba6cea00d1d',1)">
Triggers > 					</div>
				</td>
				<td style="FONT-WEIGHT: bold; COLOR: blue" id="4021ee15-4167-41c9-9282-77c0ca89f6e0">
LOG_MY_EMPLOYEES				</td>
				<table style="WIDTH: 380px; TABLE-LAYOUT: fixed">
				</table>
			</tr>
		</tbody>
