<script type="text/javascript" src="../js/pathTo.js">
</script>
<script language="javascript">
function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
	<table >
		<tbody >
			<tr >
				<td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">
Schemas > 				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="04bce689-28fd-4bd0-9706-66806e17f58c">
					<div onclick="pathTo('04bce689-28fd-4bd0-9706-66806e17f58c',1)">
HR > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="a080fdca-fb20-485d-8746-ad0afa839f4a">
					<div onclick="pathTo('a080fdca-fb20-485d-8746-ad0afa839f4a',1)">
Tables > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="26ff5460-4bab-41b8-8fc1-c9769d425ac8">
					<div onclick="pathTo('26ff5460-4bab-41b8-8fc1-c9769d425ac8',1)">
MY_LOGS > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="e1017853-10cc-44eb-9c06-0f40543725f6">
					<div onclick="pathTo('e1017853-10cc-44eb-9c06-0f40543725f6',1)">
Triggers > 					</div>
				</td>
				<td style="FONT-WEIGHT: bold; COLOR: blue" id="24e56219-c850-4713-9e4e-07944ee22045">
AFTER_INS_LOG				</td>
				<table style="WIDTH: 380px; TABLE-LAYOUT: fixed">
				</table>
			</tr>
		</tbody>
