<script type="text/javascript" src="../js/pathTo.js">
</script>
<script language="javascript">
function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
	<table >
		<tbody >
			<tr >
				<td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">
Schemas > 				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="0ee2d3d5-6e0f-4a42-86ee-13ff70fe7c0a">
					<div onclick="pathTo('0ee2d3d5-6e0f-4a42-86ee-13ff70fe7c0a',1)">
HR > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="082562d3-5a0c-41ac-91a8-85ec34693905">
					<div onclick="pathTo('082562d3-5a0c-41ac-91a8-85ec34693905',1)">
Tables > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="0afacfc2-dcfd-4f81-84d0-34d0dc21dc39">
					<div onclick="pathTo('0afacfc2-dcfd-4f81-84d0-34d0dc21dc39',1)">
MEN > 					</div>
				</td>
				<td style="FONT-WEIGHT: bold; COLOR: blue" id="9a8d1ef2-a3f6-4f9b-9457-e953f327fe95">
Triggers				</td>
				<table style="WIDTH: 380px; TABLE-LAYOUT: fixed">
				</table>
			</tr>
		</tbody>
