<script type="text/javascript" src="../js/pathTo.js">
</script>
<script language="javascript">
function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
	<table >
		<tbody >
			<tr >
				<td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">
Schemas > 				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="a2b56715-2552-4cd3-8cef-6bf0e2715407">
					<div onclick="pathTo('a2b56715-2552-4cd3-8cef-6bf0e2715407',1)">
HR > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="56ccf836-4f48-4233-a054-dcae778cc3f2">
					<div onclick="pathTo('56ccf836-4f48-4233-a054-dcae778cc3f2',1)">
Tables > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="78d37771-c302-4f6e-aed6-3457e655a013">
					<div onclick="pathTo('78d37771-c302-4f6e-aed6-3457e655a013',1)">
EMPLOYEES > 					</div>
				</td>
				<td style="FONT-WEIGHT: bold; COLOR: blue" id="a7547fe4-367f-42d0-b454-59bfd95235e7">
Triggers				</td>
				<table style="WIDTH: 380px; TABLE-LAYOUT: fixed">
				</table>
			</tr>
		</tbody>
