<script type="text/javascript" src="../js/pathTo.js">
</script>
<script language="javascript">
function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
	<table >
		<tbody >
			<tr >
				<td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">
Schemas > 				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="04bce689-28fd-4bd0-9706-66806e17f58c">
					<div onclick="pathTo('04bce689-28fd-4bd0-9706-66806e17f58c',1)">
HR > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="a080fdca-fb20-485d-8746-ad0afa839f4a">
					<div onclick="pathTo('a080fdca-fb20-485d-8746-ad0afa839f4a',1)">
Tables > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="478ebc75-87d7-4edb-9477-15edc973387d">
					<div onclick="pathTo('478ebc75-87d7-4edb-9477-15edc973387d',1)">
MEN > 					</div>
				</td>
				<td style="FONT-WEIGHT: bold; COLOR: blue" id="b825f05c-920d-4fb3-9f6c-5cd773bc74c6">
Triggers				</td>
				<table style="WIDTH: 380px; TABLE-LAYOUT: fixed">
				</table>
			</tr>
		</tbody>
