<script type="text/javascript" src="../js/pathTo.js">
</script>
<script language="javascript">
function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
	<table >
		<tbody >
			<tr >
				<td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">
Schemas > 				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="a2b56715-2552-4cd3-8cef-6bf0e2715407">
					<div onclick="pathTo('a2b56715-2552-4cd3-8cef-6bf0e2715407',1)">
HR > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="b99eb295-d1bf-479c-aec3-1e43d739dfc8">
					<div onclick="pathTo('b99eb295-d1bf-479c-aec3-1e43d739dfc8',1)">
Sequences > 					</div>
				</td>
				<td style="FONT-WEIGHT: bold; COLOR: blue" id="e53ae974-fe46-4a8b-82b6-bd075986a5f1">
MEN_SEQUENCE				</td>
				<table style="WIDTH: 380px; TABLE-LAYOUT: fixed">
				</table>
			</tr>
		</tbody>
