<script type="text/javascript" src="../js/pathTo.js">
</script>
<script language="javascript">
function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
	<table >
		<tbody >
			<tr >
				<td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">
Schemas > 				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="a2b56715-2552-4cd3-8cef-6bf0e2715407">
					<div onclick="pathTo('a2b56715-2552-4cd3-8cef-6bf0e2715407',1)">
HR > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="56ccf836-4f48-4233-a054-dcae778cc3f2">
					<div onclick="pathTo('56ccf836-4f48-4233-a054-dcae778cc3f2',1)">
Tables > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="ced7f2ef-be8b-4d22-824c-a798434a9e29">
					<div onclick="pathTo('ced7f2ef-be8b-4d22-824c-a798434a9e29',1)">
LOCATIONS > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="0adabc01-9f78-497c-8b27-251ac96adb4d">
					<div onclick="pathTo('0adabc01-9f78-497c-8b27-251ac96adb4d',1)">
Indexes > 					</div>
				</td>
				<td style="FONT-WEIGHT: bold; COLOR: blue" id="b1b919b4-3ec0-406e-8e3d-d3beb7c014d8">
LOC_COUNTRY_IX				</td>
				<table style="WIDTH: 380px; TABLE-LAYOUT: fixed">
				</table>
			</tr>
		</tbody>
