<script type="text/javascript" src="../js/pathTo.js">
</script>
<script language="javascript">
function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
	<table >
		<tbody >
			<tr >
				<td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">
Schemas > 				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="0ee2d3d5-6e0f-4a42-86ee-13ff70fe7c0a">
					<div onclick="pathTo('0ee2d3d5-6e0f-4a42-86ee-13ff70fe7c0a',1)">
HR > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="082562d3-5a0c-41ac-91a8-85ec34693905">
					<div onclick="pathTo('082562d3-5a0c-41ac-91a8-85ec34693905',1)">
Tables > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="fb9e02f7-8f61-4e41-90bb-abef4f488b74">
					<div onclick="pathTo('fb9e02f7-8f61-4e41-90bb-abef4f488b74',1)">
LOCATIONS > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="ea9ef20f-c2b1-440e-b6be-f1ec422239f9">
					<div onclick="pathTo('ea9ef20f-c2b1-440e-b6be-f1ec422239f9',1)">
Indexes > 					</div>
				</td>
				<td style="FONT-WEIGHT: bold; COLOR: blue" id="da9d3a69-3574-4275-9bfe-be657ccecc1b">
LOC_STATE_PROVINCE_IX				</td>
				<table style="WIDTH: 380px; TABLE-LAYOUT: fixed">
				</table>
			</tr>
		</tbody>
