<script type="text/javascript" src="../js/pathTo.js">
</script>
<script language="javascript">
function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
	<table >
		<tbody >
			<tr >
				<td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">
Schemas > 				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="0ee2d3d5-6e0f-4a42-86ee-13ff70fe7c0a">
					<div onclick="pathTo('0ee2d3d5-6e0f-4a42-86ee-13ff70fe7c0a',1)">
HR > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="082562d3-5a0c-41ac-91a8-85ec34693905">
					<div onclick="pathTo('082562d3-5a0c-41ac-91a8-85ec34693905',1)">
Tables > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="760e0f30-318d-4cae-9759-6929f5f32eb7">
					<div onclick="pathTo('760e0f30-318d-4cae-9759-6929f5f32eb7',1)">
DEPARTMENTS > 					</div>
				</td>
				<td style="FONT-WEIGHT: bold; COLOR: blue" id="48e2a37c-c880-49ab-86f7-fcb20f4428fa">
Indexes				</td>
				<table style="WIDTH: 380px; TABLE-LAYOUT: fixed">
				</table>
			</tr>
		</tbody>
