<script type="text/javascript" src="../js/pathTo.js">
</script>
<script language="javascript">
function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
	<table >
		<tbody >
			<tr >
				<td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">
Schemas > 				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="0ee2d3d5-6e0f-4a42-86ee-13ff70fe7c0a">
					<div onclick="pathTo('0ee2d3d5-6e0f-4a42-86ee-13ff70fe7c0a',1)">
HR > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="082562d3-5a0c-41ac-91a8-85ec34693905">
					<div onclick="pathTo('082562d3-5a0c-41ac-91a8-85ec34693905',1)">
Tables > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="21ad69bd-e734-47f6-9c12-ef7a4a7ac07d">
					<div onclick="pathTo('21ad69bd-e734-47f6-9c12-ef7a4a7ac07d',1)">
MY_EMPLOEES > 					</div>
				</td>
				<td style="FONT-WEIGHT: bold; COLOR: blue" id="b3186556-411b-4537-8ab7-80cdd6d6e446">
Triggers				</td>
				<table style="WIDTH: 380px; TABLE-LAYOUT: fixed">
				</table>
			</tr>
		</tbody>
