<script type="text/javascript" src="../js/pathTo.js">
</script>
<script language="javascript">
function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
	<table >
		<tbody >
			<tr >
				<td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">
Schemas > 				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="c7a6540d-5033-4b98-a7a0-76cbc0d89bfa">
					<div onclick="pathTo('c7a6540d-5033-4b98-a7a0-76cbc0d89bfa',1)">
HR > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="b4fb672c-59d5-43b3-a902-95f61d260c92">
					<div onclick="pathTo('b4fb672c-59d5-43b3-a902-95f61d260c92',1)">
Sequences > 					</div>
				</td>
				<td style="FONT-WEIGHT: bold; COLOR: blue" id="545cfb3a-3c95-4a65-be6e-2bc97305347f">
DEPARTMENTS_SEQ				</td>
				<table style="WIDTH: 380px; TABLE-LAYOUT: fixed">
				</table>
			</tr>
		</tbody>
