<script type="text/javascript" src="../js/pathTo.js">
</script>
<script language="javascript">
function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
	<table >
		<tbody >
			<tr >
				<td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">
Schemas > 				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="45fe2579-2386-4586-9ec6-9e5ae9a3e260">
					<div onclick="pathTo('45fe2579-2386-4586-9ec6-9e5ae9a3e260',1)">
HR > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="e9a7befd-96f6-4441-b89c-c439cedfb844">
					<div onclick="pathTo('e9a7befd-96f6-4441-b89c-c439cedfb844',1)">
Tables > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="d8766acc-6a7a-4126-8a3e-dd0ecf671544">
					<div onclick="pathTo('d8766acc-6a7a-4126-8a3e-dd0ecf671544',1)">
EMPLOYEES > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="6d12ed29-9fcf-41c3-ac60-24229ed2a42b">
					<div onclick="pathTo('6d12ed29-9fcf-41c3-ac60-24229ed2a42b',1)">
Indexes > 					</div>
				</td>
				<td style="FONT-WEIGHT: bold; COLOR: blue" id="b57c3454-f2f5-4b17-a7c4-8198ff1fa697">
EMP_JOB_IX				</td>
				<table style="WIDTH: 380px; TABLE-LAYOUT: fixed">
				</table>
			</tr>
		</tbody>
