<script type="text/javascript" src="../js/pathTo.js">
</script>
<script language="javascript">
function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
	<table >
		<tbody >
			<tr >
				<td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">
Schemas > 				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="04bce689-28fd-4bd0-9706-66806e17f58c">
					<div onclick="pathTo('04bce689-28fd-4bd0-9706-66806e17f58c',1)">
HR > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="46478c5b-8e83-4ec6-830f-ecee879176bd">
					<div onclick="pathTo('46478c5b-8e83-4ec6-830f-ecee879176bd',1)">
Sequences > 					</div>
				</td>
				<td style="FONT-WEIGHT: bold; COLOR: blue" id="5aa0d17d-c852-4e01-a256-a87d866a9b41">
LOCATIONS_SEQ				</td>
				<table style="WIDTH: 380px; TABLE-LAYOUT: fixed">
				</table>
			</tr>
		</tbody>
