<script type="text/javascript" src="../js/pathTo.js">
</script>
<script language="javascript">
function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
	<table >
		<tbody >
			<tr >
				<td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">
Schemas > 				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="45fe2579-2386-4586-9ec6-9e5ae9a3e260">
					<div onclick="pathTo('45fe2579-2386-4586-9ec6-9e5ae9a3e260',1)">
HR > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="e9a7befd-96f6-4441-b89c-c439cedfb844">
					<div onclick="pathTo('e9a7befd-96f6-4441-b89c-c439cedfb844',1)">
Tables > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="5ba0033d-8b85-43a7-81a2-f0be4dbdfdbd">
					<div onclick="pathTo('5ba0033d-8b85-43a7-81a2-f0be4dbdfdbd',1)">
DEPARTMENTS > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="b679a9f8-1cbb-4834-93fd-a1c50f073b45">
					<div onclick="pathTo('b679a9f8-1cbb-4834-93fd-a1c50f073b45',1)">
Indexes > 					</div>
				</td>
				<td style="FONT-WEIGHT: bold; COLOR: blue" id="fb2365f6-216c-4e92-a765-ec1651d14f5a">
DEPT_LOCATION_IX				</td>
				<table style="WIDTH: 380px; TABLE-LAYOUT: fixed">
				</table>
			</tr>
		</tbody>
