<script type="text/javascript" src="../js/pathTo.js">
</script>
<script language="javascript">
function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
	<table >
		<tbody >
			<tr >
				<td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">
Schemas > 				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="04bce689-28fd-4bd0-9706-66806e17f58c">
					<div onclick="pathTo('04bce689-28fd-4bd0-9706-66806e17f58c',1)">
HR > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="a080fdca-fb20-485d-8746-ad0afa839f4a">
					<div onclick="pathTo('a080fdca-fb20-485d-8746-ad0afa839f4a',1)">
Tables > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="a205ca71-d4a9-4d57-96d2-25e65298cf81">
					<div onclick="pathTo('a205ca71-d4a9-4d57-96d2-25e65298cf81',1)">
LOCATIONS > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="e5ec835b-2ef2-4500-84ea-9c94b783520e">
					<div onclick="pathTo('e5ec835b-2ef2-4500-84ea-9c94b783520e',1)">
Indexes > 					</div>
				</td>
				<td style="FONT-WEIGHT: bold; COLOR: blue" id="d255341e-cbba-4afc-86c5-ecd98c254cbb">
LOC_COUNTRY_IX				</td>
				<table style="WIDTH: 380px; TABLE-LAYOUT: fixed">
				</table>
			</tr>
		</tbody>
