<script type="text/javascript" src="../js/pathTo.js">
</script>
<script language="javascript">
function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
	<table >
		<tbody >
			<tr >
				<td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">
Schemas > 				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="0ee2d3d5-6e0f-4a42-86ee-13ff70fe7c0a">
					<div onclick="pathTo('0ee2d3d5-6e0f-4a42-86ee-13ff70fe7c0a',1)">
HR > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="082562d3-5a0c-41ac-91a8-85ec34693905">
					<div onclick="pathTo('082562d3-5a0c-41ac-91a8-85ec34693905',1)">
Tables > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="564d8fb9-f15e-4326-aaf0-72beef6d43c7">
					<div onclick="pathTo('564d8fb9-f15e-4326-aaf0-72beef6d43c7',1)">
EMPLOYEES > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="48c5c1d1-382a-4385-a069-67792bac42bc">
					<div onclick="pathTo('48c5c1d1-382a-4385-a069-67792bac42bc',1)">
Indexes > 					</div>
				</td>
				<td style="FONT-WEIGHT: bold; COLOR: blue" id="9fa4cbf7-6745-459c-8b22-44dc22e0a4c1">
EMP_NAME_IX				</td>
				<table style="WIDTH: 380px; TABLE-LAYOUT: fixed">
				</table>
			</tr>
		</tbody>
