<script type="text/javascript" src="../js/pathTo.js">
</script>
<script language="javascript">
function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
	<table >
		<tbody >
			<tr >
				<td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">
Schemas > 				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="c7a6540d-5033-4b98-a7a0-76cbc0d89bfa">
					<div onclick="pathTo('c7a6540d-5033-4b98-a7a0-76cbc0d89bfa',1)">
HR > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="15c76e12-7db5-4b1c-9c58-ae39bc636e3d">
					<div onclick="pathTo('15c76e12-7db5-4b1c-9c58-ae39bc636e3d',1)">
Tables > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="b581cbb3-0e57-4b38-84ad-62790f728277">
					<div onclick="pathTo('b581cbb3-0e57-4b38-84ad-62790f728277',1)">
EMPLOYEES > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="229d1452-cb3e-4d29-a91a-a75476db1171">
					<div onclick="pathTo('229d1452-cb3e-4d29-a91a-a75476db1171',1)">
Indexes > 					</div>
				</td>
				<td style="FONT-WEIGHT: bold; COLOR: blue" id="f916b3b0-7358-4e15-8ef5-efd2037d68a8">
EMP_MANAGER_IX				</td>
				<table style="WIDTH: 380px; TABLE-LAYOUT: fixed">
				</table>
			</tr>
		</tbody>
