<script type="text/javascript" src="../js/pathTo.js">
</script>
<script language="javascript">
function goChild(s){if(top.frames["tree"].inProgress)return;top.getNode(s);top.startNavigate(s);}</script>
<div style="POSITION: absolute; LEFT: 20px; TOP: 6px">
	<table >
		<tbody >
			<tr >
				<td style="COLOR: firebrick" id="00000000-0000-0000-0000-000000000000">
Schemas > 				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="a2b56715-2552-4cd3-8cef-6bf0e2715407">
					<div onclick="pathTo('a2b56715-2552-4cd3-8cef-6bf0e2715407',1)">
HR > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="56ccf836-4f48-4233-a054-dcae778cc3f2">
					<div onclick="pathTo('56ccf836-4f48-4233-a054-dcae778cc3f2',1)">
Tables > 					</div>
				</td>
				<td style="CURSOR: pointer; TEXT-DECORATION: underline" id="a19074d3-eb7f-4b64-aec7-e61cd2c49f43">
					<div onclick="pathTo('a19074d3-eb7f-4b64-aec7-e61cd2c49f43',1)">
MY_LOGS > 					</div>
				</td>
				<td style="FONT-WEIGHT: bold; COLOR: blue" id="d05cc855-7794-4720-8bee-54bd21d7a9bb">
Triggers				</td>
				<table style="WIDTH: 380px; TABLE-LAYOUT: fixed">
				</table>
			</tr>
		</tbody>
